<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listners> 
<listner class-name='Practise_Pages.Listners'></listner>
</listners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="SELENIUM.SELENIUM_PROJECT.LoginClassTest"/>
      <class name="SELENIUM.SELENIUM_PROJECT.HomePageClass"/>
      <class name="SELENIUM.SELENIUM_PROJECT.ViewUserClass"/>
      <class name="SELENIUM.SELENIUM_PROJECT.LoginClass"/>
      <class name="SELENIUM.SELENIUM_PROJECT.AppTest"/>
      <class name="SELENIUM.SELENIUM_PROJECT.BaseClass"/>
      <class name="SELENIUM.SELENIUM_PROJECT.CreateUserClass"/>
      <class name="SELENIUM.SELENIUM_PROJECT.ServiceProviderResponseCodeClass"/>
      <class name="SELENIUM.SELENIUM_PROJECT.UpdateUserClass"/>
    </classes>  
  </test> <!-- Test -->
</suite> <!-- Suite -->
